tiddlers/$__config_ViewToolbarButtons_Visibility_$__core_ui_Buttons_delete.tid
tiddlers/$__config_ViewToolbarButtons_Visibility_$__core_ui_Buttons_close-others.tid
tiddlers/$__config_ViewToolbarButtons_Visibility_$__core_ui_Buttons_delete.tid
tiddlers/$__config_ViewToolbarButtons_Visibility_$__core_ui_Buttons_edit.tid
tiddlers/$__config_ViewToolbarButtons_Visibility_$__core_ui_Buttons_fold-bar.tid
tiddlers/$__config_ViewToolbarButtons_Visibility_$__core_ui_Buttons_info.tid
tiddlers/$__config_ViewToolbarButtons_Visibility_$__core_ui_Buttons_permalink.tid
